#####################################################
# Project specific variables for .bash_enter script #
#####################################################

# List of supported environments
autostash DOCKER_DEVBOX_ENV_LIST="prod stage dev"

# List of files to symlink based on environment
autostash DOCKER_DEVBOX_ENV_SYMLINKS=""

# List of directories containing *.mo.* files to pass through mo templating.
# Directories ending with "[*]" will be processed recursively.
autostash DOCKER_DEVBOX_MO_DIRS=""

###########################################
# Global variables for .bash_enter script #
###########################################

# Custom CA certificates to install inside containers.
# autostash DOCKER_DEVBOX_CA_CERTIFICATES="/etc/ssl/certs/GFI_Informatique*.pem" "/etc/ssl/certs/fwca.annuaire.groupe.local.pem"
autostash DOCKER_DEVBOX_CA_CERTIFICATES="${DOCKER_DEVBOX_CA_CERTIFICATES:-}"

# Docker registry to push images. Should ends with '/' if defined.
# autostash DOCKER_DEVBOX_REGISTRY=docker-registry.etudes.local/
autostash DOCKER_DEVBOX_REGISTRY="${DOCKER_DEVBOX_REGISTRY:-}"

# Name of the reverse-proxy network
autostash DOCKER_DEVBOX_REVERSE_PROXY_NETWORK="${DOCKER_DEVBOX_REVERSE_PROXY_NETWORK:-reverse-proxy}"

# Path to install generated certificates
autostash DOCKER_DEVBOX_HOME="${DOCKER_DEVBOX_HOME:-$HOME/.docker-devbox}"

# Path to install generated certificates
autostash DOCKER_DEVBOX_CERTS_PATH="${DOCKER_DEVBOX_CERTS_PATH:-$DOCKER_DEVBOX_HOME/certs}"

# Mkcert root ca path
autostash CAROOT="${CAROOT:-$DOCKER_DEVBOX_CERTS_PATH/mkcert-ca}"

# Path to docker-devbox-nginx-proxy installation
autostash DOCKER_DEVBOX_NGINX_PROXY_PATH="${DOCKER_DEVBOX_NGINX_PROXY_PATH:-$DOCKER_DEVBOX_HOME/nginx-proxy}"

# Path to docker-devbox-traefik installation
autostash DOCKER_DEVBOX_TRAEFIK_PATH="${DOCKER_DEVBOX_TRAEFIK_PATH:-$DOCKER_DEVBOX_HOME/traefik}"

# Path to globally installed scripts
autostash DOCKER_DEVBOX_SCRIPTS_PATH="${DOCKER_DEVBOX_SCRIPTS_PATH:-$DOCKER_DEVBOX_HOME/scripts}"

